<div class="body">
  <div class="container">
    <input type="checkbox" id="flip" />
    <div class="cover">
      <div class="front">
        <img src="../../assets/images/fimage3.jpg" alt="" />

        <div class="text">
          <span class="text-1"
            >The Importance of Spending <br /><br />
            Money to Make</span
          ><br />
          <span class="text-1">Money</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="signup-form">
          <div class="title">SignUp</div>
          <form #signupform="ngForm" (ngSubmit)="crate(signupform)">
            <div class="input-boxes">
              <div class="input-box">
                <input
                  [(ngModel)]="userName"
                  id="user-name"
                  type="text"
                  autocomplete="on"
                  name="userName"
                  required
                  placeholder="Enter Name"
                  (input)="checkUsernameAvailability()"
                />
                <br />
              </div>
              <div class="validation-message" *ngIf="usernameTaken">
                Username already exists.
              </div>
              <div class="input-box">
                <input
                  [(ngModel)]="email"
                  id="user-email"
                  class="form-content"
                  type="email"
                  autocomplete="on"
                  name="email"
                  required
                  placeholder="Enter Email"
                  (input)="checkUseremailAvailability()"
                />
              </div>
              <div class="validation-message" *ngIf="useremailTaken">
                mailid already exists.
              </div>

              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  [(ngModel)]="password"
                  id="user-password"
                  class="form-content"
                  type="{{ showPassword ? 'text' : 'password' }}"
                  name="password"
                  required
                  placeholder="Create password"
                  (input)="lengthCheck()"
                />
                <button
                  mat-icon-button
                  type="button"
                  class="toggle-password-button"
                  (click)="togglePasswordVisibility()"
                >
                  <mat-icon>{{
                    showPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>
              <div class="validation-message" *ngIf="isLength">
                Password must contain minimum 8 characters
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  [(ngModel)]="cpassword"
                  id="user-confirm-password"
                  class="form-content"
                  type="{{ showPassword1 ? 'text' : 'password' }}"
                  name="cpassword"
                  required
                  placeholder="Confirm password"
                  (input)="passwordMatch()"
                />
                <button
                  mat-icon-button
                  type="button"
                  class="toggle-password-button"
                  (click)="togglePasswordVisibility1()"
                >
                  <mat-icon>{{
                    showPassword1 ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>
              <div class="validation-message" *ngIf="isMatch">
                passwordand confirm password doesn't match
              </div>
              <!-- <div class="text"><a href="#">Forgot password?</a></div> -->
              <div class="button input-box">
                <input type="submit" value="Register" />
              </div>
              <div class="text sign-up-text">
                Already have an account?<a routerLink="/login" id="signup">
                  Login now</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #errorModal3 let-modal>
  <div class="modal1">
    <div class="modal-content1">
      <div class="modal-header1">
        <h4 class="modal-title1">Error</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body1">
        {{ message }}
      </div>
    </div>
  </div>
</ng-template>
