<ng-template #template let-modal>
  <div class="modal-body">
    <form (ngSubmit)="temsubmit(addTemForm)" #addTemForm="ngForm">
      <div class="title"><h3>Enter the Amount</h3></div>

      <input
        type="number"
        class="form-control"
        [(ngModel)]="amt"
        name="uIncome1"
        placeholder="Here.."
      />

      <!--
--><br />
      <div class="button">
        <button type="submit" (click)="modal.dismiss('Cross click')">
          Add
        </button>
      </div>
      <div class="button">
        <button type="button" (click)="modal.dismiss('Cross click')">
          cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>

<main>
  <header>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href=""><h3>Expensify</h3></a>
        </div>
        <ul>
          <li><button routerLink="/home">home</button></li>
          <li><button routerLink="/login">Logout</button></li>
        </ul>
      </div>
    </nav>
  </header>
  <article>
    <div class="whole">
      <div class="itemsList1" *ngIf="groupName.length > 0; else statementElse">
        <div
          class="flex-parent-element1"
          *ngFor="let i of groupName; let k = index"
        >
          <div class="item1" (click)="show(i)">
            <div class="name1">{{ i }}</div>
          </div>
        </div>
      </div>
      <ng-template #statementElse><h2>Create Your Groups</h2> </ng-template>
      <div class="button1">
        <button (click)="addGroup()">+</button>
      </div>
    </div>
  </article>
  <aside>
    <div class="table" *ngIf="details.length != 0; else elseStatement">
      <div class="table-row" *ngFor="let i of details; let k = index">
        <div class="table-cell">
          <div class="name">{{ i.UserName }}</div>
        </div>
        <div class="table-cell">
          <div class="info">Paid: {{ i.paid }}</div>
        </div>
        <div class="table-cell">
          <div class="info">ToPay: {{ i.toPay }}</div>
        </div>
        <div class="table-cell">
          <div class="info">ToGet: {{ i.toGet }}</div>
        </div>
        <div class="table-cell" *ngIf="i.UserName === this.name">
          <button (click)="openModal(template); change(i.UserName)">Pay</button>
        </div>
      </div>
    </div>
    <div>
      <ng-template #elseStatement
        ><h2>Click on any item to see details</h2></ng-template
      >
    </div>
  </aside>
</main>
