main {
  display: grid;
  grid-template-areas:
    "head head head"
    "content side side";
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 30% 40% 30%;
  overflow: auto;
}
header {
  grid-area: head;
  background-color: black;
  overflow: auto;
}
header nav {
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  height: 10vh;
  padding: 10px 0;
  z-index: 12;
}
header nav .menu {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .menu .logo a {
  text-decoration: none;
}

header nav .menu .logo a h3 {
  text-decoration: none;
  padding-left: 0%;
  margin-left: 0%;
  color: white;
  font-size: 35px;
  font-family: cursive;
}
header .menu ul {
  display: inline-flex;
}
header .menu ul li {
  list-style: none;
  margin-left: 7px;
  margin-top: 3px;
}
header .menu ul li:first-child {
  margin-left: 0px;
}
header .menu ul li a {
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 5px;
  /* transition: all 0.3s ease; */
  align-items: center;
  justify-content: center;
}
header .menu ul li button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: #1b1b1b;
  border: none;
  /* transition: all 0.3s ease; */
}
header .menu ul li a:hover {
  border: 2px solid white;
  color: azure;
}
header .menu ul li button:hover {
  border: 2px solid white;
  color: azure;
}
article {
  grid-area: content;
  background-color: #414040;
  color: whitesmoke;
  overflow: auto;
}
aside {
  grid-area: side;
  background-color: rgb(233, 217, 217);
  overflow: auto;
}
.flex-parent-element1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: medium;
  font-weight: bolder;
  border-bottom: 1px solid rgb(121, 119, 119);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 82, 81);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 82, 81);
}
scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
scrollbar-thumb:hover {
  background-color: #888;
}
.item1 {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(233, 217, 217);
}

.table-row {
  display: table-row;
}
.whole {
  position: relative; /* Required for positioning the button */
}
.whole .button1 {
  margin-right: 15px;

  position: fixed;
}
.whole .button1 button {
  bottom: 40px;
  left: 24%;
  position: fixed;
  font-size: 2.5pc;
  font-weight: lighter;
  padding: 15px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 25px;
  background-color: black;
}
.whole .button1 button:hover {
  background-color: #888;
}

.table-cell {
  display: table-cell;
  padding: 5px;
  border: none;
  position: relative;
}
aside h2 {
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  color: #888;
  justify-content: center;
  margin-top: 15%;
}
article h2 {
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  color: #888;
  justify-content: center;
  margin-top: 30%;
}

.name {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size: larger;
  background-color: rgb(233, 217, 217);
}

.info {
  display: inline-block;
  margin-right: 10px;
  background-color: rgb(233, 217, 217);
  font-weight: lighter;
  font-size: medium;
}
.table-cell button {
  background-color: transparent;
  border: none;
  font-size: large;
  position: fixed;
  right: 30px;
  bottom: 40px;
  background-color: black;
  color: whitesmoke;
  border-radius: 25px;
  padding: 15px;
}
.table-cell button:hover {
  background-color: whitesmoke;
  color: black;
}
.table-cell .name {
  text-transform: capitalize;
}
.modal-body {
  background: #1b1b1b;
  position: absolute;
  transform: translate(10%, 50%);
  height: fit-content;
  width: 500px;
  padding-bottom: 50px;
}

.modal-body form {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 100px;
  align-items: center;
}
.modal-body form button {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: aliceblue;
  border: none;
  width: fit-content;
  border: none;
  display: inline;
}
.modal-body .button {
  display: inline;
  width: max-content;
  padding-left: 0px;
  padding-right: 40px;
}

.modal-body .button button {
  padding: 10px 15px;
}
.modal-body form .title {
  font-weight: bold;
  color: aliceblue;
  padding-left: 25px;
  font-size: 10px;
}
.modal-body form .title h3 {
  font-size: 20px;
}
.modal-body form input {
  width: 300px;
  height: 40px;
  border: none;
}
.modal-body form .button button {
  border: none;
}
