.modal-body {
  background: #1b1b1b;
  position: absolute;
  transform: translate(10%, 50%);
  height: fit-content;
  width: 500px;
  padding-bottom: 50px;
}

.modal-body form {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 100px;
  align-items: center;
}
.modal-body form button {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: aliceblue;
  border: none;
  width: fit-content;
  border: none;
  display: inline;
}
.modal-body .button {
  display: inline;
  width: max-content;
  padding-left: 0px;
  padding-right: 40px;
}

.modal-body .button button {
  padding: 10px 15px;
}
.modal-body form .title {
  color: aliceblue;
  padding-left: 25px;
  font-size: 10px;
}
.modal-body form .title h3 {
  font-size: 20px;
}
.modal-body form input {
  width: 300px;
  height: 40px;
  border: none;
}
.modal-body form .button button {
  border: none;
}
main {
  display: grid;
  grid-template-areas:
    "content content side"
    "foot foot foot";
  grid-template-rows: 80vh 10vh;
  grid-template-columns: 30% 40% 30%;
}
.custom-sidenav {
  background-color: whitesmoke;
}

.custom-sidenav {
  width: 250px; /* Adjust the width as needed */
  background-color: #222;
  color: #fff;
}

.custom-sidenav .list {
  padding: 20px; /* Add padding to the list items */
}

.custom-sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-sidenav li {
  margin-bottom: 15px; /* Add spacing between list items */
}

.custom-sidenav button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border-radius: 25px;
}

.custom-sidenav button:hover {
  background-color: #555;
}

nav {
  position: relative;
  background: #1b1b1b;
  width: 100%;
  height: 10vh;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}

.sidebutton {
  margin-right: 15px;
  padding-top: 0%;
  padding-bottom: 15px;
}

.sidebutton button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
}
.sidebutton button:hover {
  background-color: #555;
}
nav .menu .logo a {
  text-decoration: none;
}

nav .menu .logo a h3 {
  text-decoration: none;
  padding-left: 0%;
  margin-left: 0%;
  color: white;
  font-size: 35px;
  font-family: cursive;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
  margin-top: 3px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 5px;
  /* transition: all 0.3s ease; */
  align-items: center;
  justify-content: center;
}
.menu ul li button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: #1b1b1b;
  border: none;
  /* transition: all 0.3s ease; */
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #888;
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  color: black;
  background-color: #2b2b2b;
  padding: 10px;
  z-index: 1;
  top: 100%;
  left: 40%; /* Position to the right of the button */
  min-width: 80px; /* Adjust the width as needed */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu ul li button:hover {
  background-color: #555;
}
article {
  grid-area: content;
  background-color: whitesmoke;
  overflow: auto;
}
.content-with-margin {
  margin: 10px;
  border-radius: 10px;
}
.content-with-margin::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(80% + 20px);
  height: calc(90% + 20px);
  z-index: -1;
  background-color: #1b1b1b;
  box-shadow: 0 2px 4px black;
}
article .container {
  margin-top: 3%;
}
aside {
  grid-area: side;
  background-color: rgb(83, 82, 81);
}
aside {
  display: grid;
  grid-template-areas:
    "head "
    "content ";
  grid-template-rows: 10% 90%;
}

aside header {
  grid-area: head;
  background-color: #222;
  border-bottom: 1px solid black;
}
aside article {
  grid-area: content;
  background-color: #222;
  padding-top: 3%;
  overflow: auto;
}

/* Styling for the header section */
aside header {
  background-color: #222;
  border-bottom: 1px solid rgb(121, 119, 119);
}

/* Styling for the title */
.header-title {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.full-size {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
  width: 100%; /* Occupy full width */
  display: flex; /* Use flex display to align items */
}

.header-title h3 {
  padding-top: 3%;
}
.full-size .button {
  padding-left: 2%;
  padding-right: 2%;
}
.full-size .button button {
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  padding-right: 20px;
  transition: background-color 0.3s ease;
}

.custom-input {
  border: none;
  padding: 10px;
  height: 58px;
  border-radius: 5px;
  background-color: #222; /* Change to the desired background color */
  color: whitesmoke; /* Change to the desired text color */
  font-size: 16px;
  width: 85%; /* Adjust the width as needed */
}
.custom-input input:focus,
.custom-input input:valid {
  border-color: #473172;
}
/* Styling for the back button */
.header-title .button {
  padding-left: 2%;
  padding-right: 2%;
}
.header-title .button button {
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  padding-right: 20px;
  transition: background-color 0.3s ease;
}

.header-title .button button:hover {
  background-color: #555;
}

/* Styling for the "Recent Expenses" heading */
.header-title h3 {
  margin-left: 3%;
}

/* Styling for the "Add" button */
.add-button {
  margin-left: auto;
  margin-right: 3%;
}

.add-button button {
  padding: 15px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button button:hover {
  background-color: #555;
}

/* Media query for shrinking text size */
@media (max-width: 768px) {
  .header-title {
    font-size: 18px;
  }

  .header-title .button button {
    font-size: 14px;
  }

  .header-title h3 {
    font-size: 18px;
  }

  .add-button button {
    font-size: 16px;
  }
}

.flex-parent-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: medium;
  color: azure;
  border-bottom: 2px solid #3b3b3b;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 82, 81);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 82, 81);
}
scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
scrollbar-thumb:hover {
  background-color: #888;
}

.item {
  display: flex;
  align-items: left;
  flex-direction: column;
}
.item .name {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 5%;
}

.amt {
  margin-left: auto;
  display: flex;
  color: red;
}
.amt .inamt {
  padding-top: 8%;
}
.amt button {
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  padding-top: 5%;
  padding-bottom: 5%;
}
.amt button:hover {
  background-color: #888;
}
article h2 {
  margin-left: 10px;
  justify-content: center;
  color: #1b1b1b;
  margin-bottom: 0%;
}
article h4 {
  margin-left: 10px;
  justify-content: center;
  color: #888;
  font-family: cursive;
}
footer {
  grid-area: foot;
  background-color: #1b1b1b;
  overflow: hidden;
}
footer {
  display: grid;
  grid-template-areas: "head content foot";
  grid-template-columns: 30% 40% 30%;
}
footer header {
  grid-area: head;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
footer article {
  grid-area: content;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
footer footer {
  grid-area: foot;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
/* Styling for the header section */
footer header {
  background-color: #1b1b1b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer article {
  background-color: #1b1b1b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer article .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
}
footer article .item {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  footer article .item {
    font-size: 16px;
  }
}

footer header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
}

/* Styling for the item */
footer header .item {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 5px;
}

/* Media query for shrinking font size */
@media (max-width: 768px) {
  footer header .item {
    font-size: 16px;
  }
}
footer footer {
  background-color: #1b1b1b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
}
footer footer .item {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  footer footer .item {
    font-size: 16px;
  }
}
