<ng-template #template let-modal>
  <div class="modal-body">
    <form (ngSubmit)="temsubmit(addTemForm)" #addTemForm="ngForm">
      <div class="title"><h3>Update your Income</h3></div>

      <input
        type="number"
        class="form-control"
        [(ngModel)]="uIncome1"
        name="uIncome1"
        placeholder="Enter Current Income"
      />

      <!--
--><br />
      <div class="button">
        <button type="submit" (click)="modal.dismiss('Cross click')">
          Add
        </button>
      </div>
      <div class="button">
        <button type="button" (click)="modal.dismiss('Cross click')">
          cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #Expense let-modal>
  <div class="modal-body">
    <form #showexpenseform="ngForm" (ngSubmit)="showExpense(showexpenseform)">
      <div class="title"><h3>Check Expense</h3></div>
      <input
        [(ngModel)]="sMonth"
        type="number"
        name="sMonth"
        placeholder="Enter month from 1-12"
        required
      /><br />
      <!--
--><br />
      <input
        [(ngModel)]="sYear"
        type="number"
        name="sYear"
        placeholder="Enter year"
        required
      /><br />
      <!--
--><br />
      <div class="button">
        <button type="submit" (click)="modal.dismiss('Cross click')">
          Show Expense
        </button>
      </div>
      <div class="button">
        <button type="button" (click)="modal.dismiss('Cross click')">
          cancel
        </button>
        <!-- <button (click)="closeModal(Expense)" type="button">Close</button> -->
      </div>
    </form>
  </div>
</ng-template>
<main>
  <header>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#"><h3>Expensify</h3></a>
        </div>
        <ul>
          <li><button routerLink="/splitpay">Split Pay</button></li>
          <li><button (click)="openModal(Expense)">Show Expense</button></li>
          <li><button (click)="openModal(template)">Add Income</button></li>
          <li>
            <button (click)="openpopup()" mat-raised-button>Add Expense</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <article>
    <h3>
      Welcome <br /><br />
      {{ this.name }}
    </h3>
  </article>
  <aside>
    <header>
      <div class="parent">
        <div class="button"><button (click)="back()">&#x25c0;</button></div>
        <div class="title"><h3>Recent Expenses</h3></div>
      </div>
    </header>
    <article>
      <div class="itemsList" *ngFor="let i of Expenses; let k = index">
        <div class="flex-parent-element">
          <div class="item">
            <div class="name">{{ i.name }}</div>
          </div>
          <div class="item amt">{{ i.amount }}</div>
        </div>
      </div>
    </article>
  </aside>
  <footer>
    <header>
      <div class="container">
        <div class="item">Your Savings :</div>
        <div class="item">{{ this.savings }}</div>
      </div>
    </header>
    <article></article>
    <footer>
      <div class="container">
        <div class="item">Current Balance :</div>
        <div class="item">{{ this.income }}</div>
      </div>
    </footer>
  </footer>
</main>
