.modal-body {
  background: #1b1b1b;
  position: absolute;
  transform: translate(10%, 50%);
  height: fit-content;
  width: 500px;
  padding-bottom: 50px;
  font-family: Georgia, serif;
}

.modal-body form {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 100px;
  align-items: center;
  font-family: Georgia, serif;
}
.modal-body form button {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: aliceblue;
  border: none;
  width: fit-content;
  border: none;
  display: inline;
  font-family: Georgia, serif;
}
.modal-body .button {
  display: inline;
  width: max-content;
  padding-left: 0px;
  padding-right: 40px;
  font-family: Georgia, serif;
}

.modal-body .button button {
  padding: 10px 15px;
}
.modal-body form .title {
  font-weight: lighter;
  color: aliceblue;
  padding-left: 25px;
  font-size: 10px;
}
.modal-body form .title h3 {
  font-size: 20px;
}
.modal-body form input {
  width: 300px;
  height: 40px;
  border: none;
}
.modal-body form .button button {
  border: none;
}
/* .img {
  background-color: #000;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
} */
main {
  font-family: Georgia, serif;
  display: grid;
  grid-template-areas:
    "content content side"
    "foot foot foot";
  grid-template-rows: 80vh 10vh;
  grid-template-columns: 30% 40% 30%;
}
.custom-sidenav {
  font-family: Georgia, serif;
  background-color: #888;
}

.custom-sidenav {
  width: 250px; /* Adjust the width as needed */
  background-color: #333;
  color: #fff;
}

.custom-sidenav .list {
  font-family: Georgia, serif;
  padding: 20px; /* Add padding to the list items */
}

.custom-sidenav ul {
  font-family: Georgia, serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-sidenav li {
  font-family: Georgia, serif;
  margin-bottom: 15px; /* Add spacing between list items */
}

.custom-sidenav button {
  font-family: Georgia, serif;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border-radius: 25px;
}

.custom-sidenav button:hover {
  background-color: #555;
}

nav {
  font-family: Georgia, serif;
  position: relative;
  background: #1b1b1b;
  width: 100%;
  height: 10vh;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  font-family: Georgia, serif;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}

.sidebutton {
  margin-right: 15px; /* Adjust this value as needed */
  padding-top: 0%;
  padding-bottom: 15px;
}
.sidebutton button {
  font-family: Georgia, serif;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
}
.sidebutton button:hover {
  background-color: #555;
}
nav .menu .logo a {
  text-decoration: none;
}

nav .menu .logo a h3 {
  text-decoration: none;
  padding-left: 0%;
  margin-left: 0%;
  color: white;
  font-size: 35px;
  font-family: cursive;
}
.menu ul {
  font-family: Georgia, serif;
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
  margin-top: 3px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  font-family: Georgia, serif;
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 5px;
  /* transition: all 0.3s ease; */
  align-items: center;
  justify-content: center;
}
.menu ul li button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background: #1b1b1b;
  border: none;
  /* transition: all 0.3s ease; */
}

.menu ul li button:hover {
  border: 2px solid white;
  color: azure;
}
article {
  grid-area: content;
  background-color: black;
  overflow: hidden;
  font-family: Georgia, serif;
}
article h3 {
  color: azure;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 55px;
  font-weight: 600;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}
aside {
  grid-area: side;
  background-color: rgb(83, 82, 81);
}
aside {
  font-family: Georgia, serif;
  display: grid;
  grid-template-areas:
    "head "
    "content ";
  grid-template-rows: 10% 90%;
}

aside header {
  grid-area: head;
  background-color: rgb(83, 82, 81);
  border-bottom: 1px solid black;
}
aside article {
  grid-area: content;
  background-color: rgb(83, 82, 81);
  padding-top: 3%;
  overflow: auto;
}

.parent {
  font-family: Georgia, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
}
.title .button {
  font-family: Georgia, serif;
  margin-right: 20px;
}
.parent .title h3 {
  font-family: Georgia, serif;
  font-family: monospace;
  color: #fff;
  padding-top: 15px;
  font-weight: bolder;
  font-size: x-large;
}

.parent .title .button button {
  font-family: Georgia, serif;
  font-weight: bolder;
  font-size: large;
  color: #fff;
  background: none;
  border: none;
  padding: 15px;
  border-radius: 25px;
  padding-right: 20px;
}
.parent .title .button button:hover {
  background-color: #888;
}
.parent .button1 {
  font-family: Georgia, serif;
  margin-right: 15px;
}
.parent .button1 button {
  font-family: Georgia, serif;
  font-size: 2pc;
  font-weight: lighter;
  padding: 15px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 25px;
}
.parent .button1 button:hover {
  background-color: #888;
}

.flex-parent-element {
  font-family: Georgia, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 3%;
  font-size: medium;
  font-weight: bolder;
  color: azure;
  border-bottom: 1px solid rgb(121, 119, 119);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 82, 81);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 82, 81);
}
scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
scrollbar-thumb:hover {
  background-color: #888;
}

.item {
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
}

.amt {
  font-family: Georgia, serif;
  margin-left: auto;
}
article h2 {
  margin-left: 70px;
  justify-content: center;
  color: #888;
  font-family: cursive;
}
footer {
  grid-area: foot;
  background-color: #1b1b1b;
  overflow: hidden;
}
footer {
  display: grid;
  grid-template-areas: "head content foot";
  grid-template-columns: 30% 40% 30%;
}
footer header {
  grid-area: head;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
footer article {
  grid-area: content;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
footer footer {
  grid-area: foot;
  background-color: #1b1b1b;
  color: whitesmoke;
  border: 2px solid rgb(121, 119, 119);
}
footer footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 80px;
  margin: 0 auto;
  padding-left: 50%;
}
footer footer .item {
  padding: 10px;
  width: 210%;
  font-weight: bolder;
  font-size: large;
}
footer footer .item1 {
  padding: 10px;
  width: 210%;
  font-weight: bolder;
  font-size: large;
  padding-top: 28%;
}

footer header .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  gap: 2%;
  margin: 0 auto;
  padding-top: 4%;
  padding-left: 20%;
}
footer header .item {
  padding: 10px;
  width: max-content;
  font-weight: bolder;
  font-size: large;
  padding-top: 3%;
}
