<nav>
  <div class="menu">
    <div class="logo">
      <div class="sidebutton">
        <button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a><h3>Expensify</h3></a>
    </div>
    <ul></ul>
  </div>
</nav>

<mat-sidenav-container class="main-container">
  <mat-sidenav
    #sidenav
    mode="side"
    class="custom-sidenav"
    [class.open]="isSidenavOpen"
    opened="true"
  >
    <mat-nav-list class="list">
      <ul>
        <li><button routerLink="/home">Dashboard</button></li>

        <li><button (click)="openModal(template)">Add Income</button></li>
        <li><button routerLink="/dashboard">Savings</button></li>
        <li><button routerLink="/splitpay">Split Pay</button></li>
        <li><button routerLink="/login" (click)="logout()">LogOut</button></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main-content">
      <article>
        <div style="width: 100%; margin: auto; height: 100%">
          <canvas id="myLineChart"></canvas>
        </div>
      </article>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #template let-modal>
  <div class="modal-body">
    <form (ngSubmit)="temsubmit(addTemForm)" #addTemForm="ngForm">
      <div class="title"><h3>Update your Income</h3></div>

      <input
        type="number"
        class="form-control"
        [(ngModel)]="uIncome1"
        name="uIncome1"
        placeholder="Enter Current Income"
      />

      <!--
--><br />
      <div class="button">
        <button type="submit" (click)="modal.dismiss('Cross click')">
          Add
        </button>
      </div>
      <div class="button">
        <button type="button" (click)="modal.dismiss('Cross click')">
          cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
